//Оставить в заготовке обязательно
@import 'fonts'; 
@import 'variables/variables';
@import 'variables/mixins';
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //font-display: swap;
    font-family: Roboto;
}
body {
  background-color: $mainBackground;
}

.container {
    margin: 0 auto;
    width: 1170px;
}



@import 'blocks/header';
@import 'blocks/design';
@import 'blocks/project';
@import 'blocks/quality';
@import 'blocks/universal';
@import 'blocks/pursuit';
@import 'blocks/reasons';
@import 'blocks/useful';
@import 'blocks/step';
@import 'blocks/footer';
@import 'blocks/repair';
@import 'blocks/pay';
@import 'blocks/terms';
@import 'blocks/guarantee';
@import 'blocks/rate';
@import 'blocks/work';
@import 'blocks/abouttop';
@import 'blocks/video';
@import 'blocks/years';
@import 'blocks/advice';
@import 'blocks/callback';
@import 'blocks/subheader';
@import 'blocks/articles';
@import 'blocks/coordinates';
@import 'blocks/modal';
@import 'blocks/media';